body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
a{
    text-decoration: none;
    
}
h2{
    margin: 0;
    padding: 0;
}

.container{
    padding: 2rem 7rem;
}


.logo h2{
    color: rgba(108, 112, 235, 1);
    size: 1.5rem;
}

.logo h2 span{
    background-color: rgba(108, 112, 235, 1);
    color:white;
    padding: .5rem;
    border-radius: 10px;
}

.main{
    height: 85vh;
}

.cover{
    display: flex;
    justify-content: center;
    align-items: space-between;
    background-color: rgba(108, 112, 235, 1);
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.left{
    display: flex;
    align-items: center;
}
.vector-img{
    height: 500px;
    width: 500px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center ;
}

.main-title{
    color: white;
    font-size: 3.5rem;
    line-height: 2px;
}

.sub-title{
    color: white;
    font-size: 1.5rem;
    line-height: 2px;
}

.btn{
    color: rgba(108, 112, 235, 1);
    padding:  1rem;
    background-color: white;
    width: 250px;
    border-radius: 40px;
    font-size: large;
}

.btn a {
    color: rgba(108, 112, 235, 1);

}

.icon{
    color: rgba(108, 112, 235, 1);
}

/* admin page css */

.result{
    height: 300px;
    width: 100%;
    background-color: rgba(108, 112, 235, 1);
    border-radius: 50px;
}

.controls{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
    background-color: rgba(108, 112, 235, 1);
    width: 500px;
    height: 300px;
    border-radius: 50px;
}

.setLimit{
    text-align: center;
}

.setLimit h2{
    color: white;
    margin-top: 3rem;
}

.limit-raper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#limit{
    padding: .5rem;
    border-radius: 30px;
    border: none;
    /* height: 30px;
    width: 250px; */
}

.s-btn{
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    width: 80px;
    color: rgba(108, 112, 235, 1);
    background-color: white;
}

.permission{
    display: flex;
    justify-content: center;
    align-items: center;
}

.permit{
    color: white;
}

/* selection section  */
.selection-cover{
    display: flex;
    justify-content: center;
    align-items: space-around;
    height: 100%;
    width: 100%;
}

.photo{
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 100px;
}


.candidante-box{
    background-color:rgba(108, 112, 235, 1); 
    height:300px ;
    width: 300px;
    margin-right: 20px;
    border-radius: 20px;
}

.detailing-section{
    color: white;
    text-align: center;
}